td[name="lathidden"],
td[name="lonhidden"],
td[name="poihidden"],
td[name="conghidden"],
td[name="addrhidden"],
td[name="memohidden"],
table[name="nowTable"],

th[name="lathiddenTh"],
th[name="lonhiddenTh"],
th[name="poihiddenTh"],
th[name="addrhiddenTh"],
th[name="memohiddenTh"],
th[name="conghiddenTh"]
{
    display: none;
}

.tourGraph {
    width: 300px;
    height: 20px;
    position: flex;
    left: 0;         /* 왼쪽에 위치 */
    margin-bottom: 30px;
    margin-left: 15px;
    /* 추가적으로 필요한 스타일을 여기에 추가할 수 있습니다. */
}
