<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- Required meta tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title th:text="day+${session.SS_DAY_SEQ}"></title>
  <link rel="stylesheet" href="/assets/css/tour/tourDayInfo.css" />
  <link
          href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
          rel="stylesheet"
  />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link href="/assets/css/tailwind.output.css" rel="stylesheet" />
  <script src="/assets/js/init-alpine.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <!-- plugins:css -->
  <link rel="stylesheet" href="/itda/vendors/feather/feather.css">
  <link rel="stylesheet" href="/itda/vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" href="/itda/vendors/css/vendor.bundle.base.css">
  <link rel="stylesheet" href="/itda/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/itda/pages/icons/mdi.html">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="/itda/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
  <link rel="stylesheet" href="/itda/vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" type="text/css" href="/itda/js/select.dataTables.min.css">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="/itda/css/vertical-layout-light/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="/itda/images/favicon.png" />
  <script th:inline="javascript">
    const nSeq = [[${session.SS_TOUR_SEQ}]];
    const dSeq = [[${session.SS_DAY_SEQ}]];
  </script>
</head>
<body>
<div class="container-scroller">
  <!-- partial:partials/_navbar.html -->
  <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
    <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
      <a class="navbar-brand brand-logo mr-5" href="/index/index"><img src="/itda/images/logo-modified.png" class="mr-2" alt="logo" /></a>
      <!--이게 내가 말한 로고-->
      <a class="navbar-brand brand-logo-mini" href="/index/index"><img src="/itda/images/logo-modified.png" alt="logo"/></a>
      <!--여기는 반응형 웹으로 줄어들면 나오는 로고-->
    </div>
    <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
      <!--            <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                      <span class="icon-menu"></span>
                  </button>-->

      <ul class="navbar-nav navbar-nav-right">
        <li class="nav-item nav-profile dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
            <i class="icon-head"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
            <a class="dropdown-item" href="#">
              <i class="mdi mdi-account text-primary"></i>
              myPage
            </a>
            <a class="dropdown-item" href="/user/userLogOut">
              <i class="ti-power-off text-primary"></i>
              Logout
            </a>
          </div>
        </li>
        <li class="nav-item nav-settings d-none d-lg-flex">
          <a class="nav-link" href="#">
            <i class="icon-ellipsis"></i>
          </a>
        </li>
      </ul>
      <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
        <span class="icon-menu"></span>
      </button>
    </div>
  </nav>
  <!-- partial -->
  <div class="container-fluid page-body-wrapper">
    <!-- partial:partials/_settings-panel.html -->
    <div class="theme-setting-wrapper">
      <div id="settings-trigger"><i class="ti-settings"></i></div>
      <div id="theme-settings" class="settings-panel">
        <i class="settings-close ti-close"></i>
        <p class="settings-heading">SIDEBAR SKINS</p>
        <div class="sidebar-bg-options selected" id="sidebar-light-theme"><div class="img-ss rounded-circle bg-light border mr-3"></div>Light</div>
        <div class="sidebar-bg-options" id="sidebar-dark-theme"><div class="img-ss rounded-circle bg-dark border mr-3"></div>Dark</div>
        <p class="settings-heading mt-2">HEADER SKINS</p>
        <div class="color-tiles mx-0 px-4">
          <div class="tiles success"></div>
          <div class="tiles warning"></div>
          <div class="tiles danger"></div>
          <div class="tiles info"></div>
          <div class="tiles dark"></div>
          <div class="tiles default"></div>
        </div>
      </div>
    </div>
    <div id="right-sidebar" class="settings-panel">
      <i class="settings-close ti-close"></i>
      <ul class="nav nav-tabs border-top" id="setting-panel" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="todo-tab" data-toggle="tab" href="#todo-section" role="tab" aria-controls="todo-section" aria-expanded="true">TO DO LIST</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="chats-tab" data-toggle="tab" href="#chats-section" role="tab" aria-controls="chats-section">CHATS</a>
        </li>
      </ul>
      <div class="tab-content" id="setting-content">
        <div class="tab-pane fade show active scroll-wrapper" id="todo-section" role="tabpanel" aria-labelledby="todo-section">
          <div class="add-items d-flex px-3 mb-0">
            <form class="form w-100">
              <div class="form-group d-flex">
                <input type="text" class="form-control todo-list-input" placeholder="Add To-do">
                <button type="submit" class="add btn btn-primary todo-list-add-btn" id="add-task">Add</button>
              </div>
            </form>
          </div>
          <div class="list-wrapper px-3">
            <ul class="d-flex flex-column-reverse todo-list">
              <li>
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="checkbox" type="checkbox">
                    Team review meeting at 3.00 PM
                  </label>
                </div>
                <i class="remove ti-close"></i>
              </li>
              <li>
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="checkbox" type="checkbox">
                    Prepare for presentation
                  </label>
                </div>
                <i class="remove ti-close"></i>
              </li>
              <li>
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="checkbox" type="checkbox">
                    Resolve all the low priority tickets due today
                  </label>
                </div>
                <i class="remove ti-close"></i>
              </li>
              <li class="completed">
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="checkbox" type="checkbox" checked>
                    Schedule meeting for next week
                  </label>
                </div>
                <i class="remove ti-close"></i>
              </li>
              <li class="completed">
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="checkbox" type="checkbox" checked>
                    Project review
                  </label>
                </div>
                <i class="remove ti-close"></i>
              </li>
            </ul>
          </div>
          <h4 class="px-3 text-muted mt-5 font-weight-light mb-0">Events</h4>
          <div class="events pt-4 px-3">
            <div class="wrapper d-flex mb-2">
              <i class="ti-control-record text-primary mr-2"></i>
              <span>Feb 11 2018</span>
            </div>
            <p class="mb-0 font-weight-thin text-gray">Creating component page build a js</p>
            <p class="text-gray mb-0">The total number of sessions</p>
          </div>
          <div class="events pt-4 px-3">
            <div class="wrapper d-flex mb-2">
              <i class="ti-control-record text-primary mr-2"></i>
              <span>Feb 7 2018</span>
            </div>
            <p class="mb-0 font-weight-thin text-gray">Meeting with Alisa</p>
            <p class="text-gray mb-0 ">Call Sarah Graves</p>
          </div>
        </div>
        <!-- To do section tab ends -->
        <div class="tab-pane fade" id="chats-section" role="tabpanel" aria-labelledby="chats-section">
          <div class="d-flex align-items-center justify-content-between border-bottom">
            <p class="settings-heading border-top-0 mb-3 pl-3 pt-0 border-bottom-0 pb-0">Friends</p>
            <small class="settings-heading border-top-0 mb-3 pt-0 border-bottom-0 pb-0 pr-3 font-weight-normal">See All</small>
          </div>
          <ul class="chat-list">
            <li class="list active">
              <div class="profile"><img src="#" alt="image"><span class="online"></span></div>
              <div class="info">
                <p>Thomas Douglas</p>
                <p>Available</p>
              </div>
              <small class="text-muted my-auto">19 min</small>
            </li>
          </ul>
        </div>
        <!-- chat tab ends -->
      </div>
    </div>
    <!-- partial -->
    <!-- partial:partials/_sidebar.html -->
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
      <ul class="nav">

        <li class="nav-item">
          <a class="nav-link" href="/tour/tourInfo" aria-expanded="false" aria-controls="ui-basic">
            <i class="icon-layout menu-icon"></i>
            <span class="menu-title">여행 관리</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/notice/noticeList">
            <i class="icon-paper menu-icon"></i>
            <span class="menu-title">게시판</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="collapse" href="#profile" aria-expanded="false" aria-controls="auth">
            <i class="icon-head menu-icon"></i>
            <span class="menu-title">유저 페이지</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="profile">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item"> <a class="nav-link" href="#"> myPage </a></li>
              <li class="nav-item"> <a class="nav-link" href="/user/userLogOut"> Logout </a></li>
            </ul>
          </div>
        </li>
      </ul>
    </nav>
    <!-- partial -->
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="row">
          <div class="col-md-12 grid-margin">
            <div class="row">
              <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                <h3 class="font-weight-bold" th:text="${session.SS_TOUR_NAME}+ ' '+ Day+${session.SS_DAY_SEQ} + ' 목적지 목록'"></h3>
                <!--                  <h6 class="font-weight-normal mb-0">All systems are running smoothly! You have <span class="text-primary">3 unread alerts!</span></h6>-->
              </div>

            </div>
          </div>
        </div>

        <div class="px-4 my-6">
          <button
                  id="btnGoItda"
                  class="flex items-left justify-between w-1/15 px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
                  type="button"
          >
            <div class="w-full">
              <span class="ml-2" aria-hidden="true"><i class="icon-grid menu-icon"></i></span>
              <span class="px-4 py-3 text-sm font-semibold" >Do Itda !</span>
            </div>
          </button>
        </div>

        <div class="row">
          <div class="card position-relative h-25" style="margin-left: 35px;">
            <div class="w-full overflow-hidden rounded-lg shadow-xs">
              <div class="w-full overflow-x-auto">

                <table th:if="${session.SS_EXISTS_YN} == 'Y'" th:each="dto, iterStat : ${rList}" class="w-full whitespace-no-wrap" onclick="toggleTable(this)" th:id="'plc_'+ ${dto.placeSeq}">
                  <thead class="table-header">
                  <tr
                          class="text-sm font-semibold tracking-wide text-left text-white uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
                  >
                    <th class="px-2 py-2 td-title-bg" th:text="'목적지' + ${iterStat.index + 1}"></th>
                    <th class="px-2 py-2 td-title-bg" th:name = "placeNick"><b th:text="${dto.placeNick}"></b></th>
                    <th class="px-2 py-2 td-title-bg">
                      <div class="float-right">
                        <button
                                th:id="'btnPlaceEdit' + ${dto.placeSeq}"
                                class="px-2 py-2 seq"
                                type="button"
                        >
                          <div class="w-full">
                            <span class="px-2 py-2 text-sm font-semibold">수정</span>
                            <span class="ml-2" aria-hidden="true">*</span>
                          </div>
                        </button>
                        <button
                                th:id="'btnPlaceDel' + ${dto.placeSeq}"
                                class="px-2 py-2 seq"
                                type="button"
                        >
                          <div class="w-full">
                            <span class="px-2 py-2 text-sm font-semibold">삭제</span>
                            <span class="ml-2" aria-hidden="true">-</span>
                          </div>
                        </button>
                      </div>
                    </th>
                  </tr>
                  </thead>
                  <tbody
                          class="table-body bg-white divide-y dark:divide-gray-700 dark:bg-gray-800"
                  >
                  <tr class="text-gray-700 dark:text-gray-400 tr-bg"
                  >
                    <td class="px-2 py-2 seq">
                      <b th:text="장소명"></b>
                    </td>
                    <td class="px-2 py-2 seq" th:name = "placeName" th:text="${dto.placeName}">
                    </td>
                  </tr>
                  <tr class="text-gray-700 dark:text-gray-400 tr-bg"
                  >
                    <td class="px-2 py-2 seq">
                      <b th:text="주소"></b>
                    </td>
                    <td class="px-2 py-2 seq" th:name = "placeAddr" th:text="${dto.placeAddr}">
                    </td>
                  </tr>
                  <tr class="text-gray-700 dark:text-gray-400 tr-bg"
                  >
                    <td class="px-2 py-2 seq">
                      <b th:text="메모"></b>
                    </td>
                    <td class="px-2 py-2 seq" th:name = "memo" th:text="${dto.memo}">
                    </td>
                  </tr>
                  <tr class="text-gray-700 dark:text-gray-400 tr-bg" th:name = "lathidden"
                  >
                    <td class="px-2 py-2 seq">
                      <b th:text="위도"></b>
                    </td>
                    <td class="px-2 py-2 seq" th:name = "lat" th:text="${dto.lat}">
                    </td>
                  </tr>
                  <tr class="text-gray-700 dark:text-gray-400 tr-bg" th:name = "lonhidden"
                  >
                    <td class="px-2 py-2 seq">
                      <b th:text="경도"></b>
                    </td>
                    <td class="px-2 py-2 seq" th:name = "lon" th:text="${dto.lon}">
                    </td>
                  </tr>
                  <tr class="text-gray-700 dark:text-gray-400 tr-bg" th:name = "poihidden"
                  >
                    <td class="px-2 py-2 seq">
                      <b th:text="POI"></b>
                    </td>
                    <td class="px-2 py-2 seq" th:name = "poi" th:text="${dto.poi}">
                    </td>
                  </tr>
                  </tbody>
                </table>
                <div th:unless="${session.SS_EXISTS_YN} == 'Y'" class="px-4 py-3 text-lg font-semibold text-gray-600" >
                  <b th:text="'목적지를 등록해주세요.'"></b>
                </div>
              </div>
            </div>
            <div class="flex space-x-1">
              <div class="px-4 my-6">
                <button
                        id="btnPlaceReg"
                        class="flex items-left justify-between w-1/15 px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
                        type="button"
                >
                  <div class="w-full">
                    <span class="px-3 py-3 text-sm font-semibold">목적지 등록</span>
                    <span class="ml-2" aria-hidden="true">+</span>
                  </div>
                </button>
              </div>
              <div class="px-4 my-6">
                <button
                        id="btnDayList"
                        class="flex items-left justify-between w-1/15 px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
                        type="button"
                >
                  <div class="w-full">
                    <span class="px-3 py-3 text-sm font-semibold">여행일자관리</span>
                    <span class="ml-2" aria-hidden="true">≡</span>
                  </div>
                </button>
              </div>
              <div class="px-4 my-6">
                <button
                        id="btnDelDay"
                        class="flex items-left justify-between w-1/15 px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
                        type="button"
                >
                  <div class="w-full">
                    <span class="px-3 py-3 text-sm font-semibold">Day삭제</span>
                    <span class="ml-2" aria-hidden="true">-</span>
                  </div>
                </button>
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- content-wrapper ends -->
  <!-- partial:partials/_footer.html -->
  <!--        <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2021.  Premium <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap admin template</a> from BootstrapDash. All rights reserved.</span>
              <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="ti-heart text-danger ml-1"></i></span>
            </div>
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Distributed by <a href="https://www.themewagon.com/" target="_blank">Themewagon</a></span>
            </div>
          </footer> -->
  <!-- partial -->
</div>
<!-- main-panel ends -->
</div>
<!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->

<!-- plugins:js -->
<script src="/itda/vendors/js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script src="/itda/vendors/chart.js/Chart.min.js"></script>
<script src="/itda/vendors/datatables.net/jquery.dataTables.js"></script>
<script src="/itda/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
<script src="/itda/js/dataTables.select.min.js"></script>

<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="/itda/js/off-canvas.js"></script>
<script src="/itda/js/hoverable-collapse.js"></script>
<script src="/itda/js/template.js"></script>
<script src="/itda/js/settings.js"></script>
<script src="/itda/js/todolist.js"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script src="/itda/js/dashboard.js"></script>
<script src="/itda/js/Chart.roundedBarCharts.js"></script>
</script>
<!-- End custom js for this page-->
</body>
<script src="/assets/js/tour/tourDayInfo.js"></script>
</html>

