<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 찾기 화면</title>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/searchPassword.css}"/>
    <script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <script type="text/javascript" th:src="@{//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/searchPassword.js}"></script>
    <script type="text/javascript">
        var userIdCheck = /*[[${userIdCheck}]]*/ "Y";
        var emailAuthNumber = /*[[${emailAuthNumber}]]*/ "";
    </script>
</head>
<body>
<div class="form">
    <ul class="tab-group">
        <li class="tab "><a href=searchUserId>아이디 찾기</a></li>
        <li class="tab active"><a href="searchPassword">비밀번호 찾기</a></li>
    </ul>

        <div class="tab-content">
            <form id="f">
            <div id="searchPassword">
                <h1>비밀번호 찾기</h1>
                <div class="top-row">
                        <input type="text" name="userName" id="userName" placeholder="이름 *"/>
                    </div>
                    <div class="field-wrap">
                    </div>
                    <div class="top-row">
                        <div class="field-wrap">
                            <input type="text" name="userId" id="userId" placeholder="아이디 *">
                        </div>
                        <div class="field-wrap"></div>
                    </div>
                        <div class="top-row">
                            <div class="field-wrap">
                                <input type="email" name="email" id="email" placeholder="이메일 *"/>
                                <button id="btnSendAuth" class="btnSendAuth" type="button">인증번호 발송</button>
                                <div class="field-wrap"></div>
                                <input type="text" name="authNumber" id="authNumber" placeholder="인증번호 확인 *"/>
                                <button id="btnAuth" class="btnAuth" type="button" >인증번호 확인</button>
                            </div>
                        </div>

                    <div>
                        <p class="id-forgot" id="btnLogin">로그인</p>
                    </div>
                    <div>
                        <button type = "button" class="button button-block" id="btnSearchPassword">비밀번호 찾기</button>
                    </div>
                </div>
            </form>
        </div>
</div><!-- tab-content -->
</div> <!-- /form -->
</body>
</html>