<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="dp.fdis.persistance.mapper.IImgMapper">

    <insert id="insertTourImg" parameterType="ImgDTO">
        INSERT INTO TOUR_IMG (
            IMG_SEQ, TOUR_SEQ, TOUR_DAY, PLACE_SEQ, TITLE,  CONTENTS, LIKE_CNT,
            REG_ID, REG_DT, CHG_ID, CHG_DT, IMG_URL
        )
        VALUES (
                   COALESCE((SELECT MAX(A.IMG_SEQ) FROM TOUR_IMG A), 0) + 1, #{tourSeq}, #{tourDay}, #{placeSeq},
                   #{title}, #{contents}, 0, #{userId}, NOW(), #{userId}, NOW(), #{imgURL}
               )
    </insert>

    <update id="updatePlaceImg" parameterType="ImgDTO">
        UPDATE TOUR_PLACE
        SET
            IMG_LAT = #{imgLat},
            IMG_LON = #{imgLon},
            IMG_URL = #{imgURL}

        WHERE
            TOUR_SEQ = #{tourSeq}
        AND
            TOUR_DAY = #{tourDay}
        AND
            PLACE_SEQ = #{placeSeq}
    </update>

    <update id="initialTourImgInfo" parameterType="ImgDTO">
        UPDATE TOUR_PLACE
        SET
            IMG_LAT = null,
            IMG_LON = null,
            IMG_URL = null
        WHERE
            TOUR_SEQ = #{tourSeq}
          AND
            TOUR_DAY = #{tourDay}
          AND
            PLACE_SEQ = #{placeSeq}
    </update>

    <select id="getTourImgOne" parameterType="ImgDTO" resultType="ImgDTO">
        SELECT IMG_SEQ, TOUR_SEQ, TOUR_DAY, PLACE_SEQ, TITLE, CONTENTS, REG_ID, REG_DT, CHG_ID, CHG_DT, LIKE_CNT, IMG_URL
        FROM  TOUR_IMG
        WHERE
            TOUR_DAY = #{tourDay}
          AND
            TOUR_SEQ = #{tourSeq}
          AND
            PLACE_SEQ = #{placeSeq}
    </select>

    <select id="getTourImgAll" parameterType="ImgDTO" resultType="ImgDTO">
        SELECT IMG_SEQ, TOUR_SEQ, TOUR_DAY, PLACE_SEQ, TITLE, CONTENTS, REG_ID, REG_DT, CHG_ID, CHG_DT, LIKE_CNT, IMG_URL
        FROM  TOUR_IMG
        WHERE
            TOUR_SEQ = #{tourSeq}
    </select>

    <select id="getTourDayImg" parameterType="ImgDTO" resultType="ImgDTO">
        SELECT IMG_SEQ, TOUR_SEQ, TOUR_DAY, PLACE_SEQ, TITLE, CONTENTS, REG_ID, REG_DT, CHG_ID, CHG_DT, LIKE_CNT, IMG_URL
        FROM  TOUR_IMG
        WHERE
            TOUR_DAY = #{tourDay}
          AND
            TOUR_SEQ = #{tourSeq}
    </select>


    <update id="updateTourImg" parameterType="ImgDTO">
        UPDATE TOUR_IMG
        SET
            TITLE = #{title},
            CONTENTS = #{contents},
            IMG_URL = #{imgURL},
            CHG_ID = #{chgId},
            CHG_DT = NOW()

        WHERE
            TOUR_SEQ = #{tourSeq}
          AND
            TOUR_DAY = #{tourDay}
          AND
            PLACE_SEQ = #{placeSeq}
    </update>

    <update id="updateTourImgInfo" parameterType="ImgDTO">
        UPDATE TOUR_IMG
        SET
            TITLE = #{title},
            CONTENTS = #{contents},
            CHG_ID = #{chgId},
            CHG_DT = NOW()
        WHERE
            TOUR_SEQ = #{tourSeq}
          AND
            TOUR_DAY = #{tourDay}
          AND
            PLACE_SEQ = #{placeSeq}
    </update>

    <delete id="deleteImgOne" parameterType="ImgDTO">
        DELETE FROM TOUR_IMG
        WHERE
            TOUR_SEQ = #{tourSeq}
          AND
            TOUR_DAY = #{tourDay}
          AND
            PLACE_SEQ = #{placeSeq}
    </delete>

    <delete id="deleteDayImg" parameterType="ImgDTO">
        DELETE FROM TOUR_IMG
        WHERE
            TOUR_SEQ = #{tourSeq}
          AND
            TOUR_DAY = #{tourDay}
    </delete>

    <delete id="deleteTourImg" parameterType="ImgDTO">
        DELETE FROM TOUR_IMG
        WHERE
            TOUR_SEQ = #{tourSeq}
    </delete>

</mapper>