<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="dp.fdis.persistance.mapper.IImgMapper">

    <insert id="insertTourImg" parameterType="ImgDTO">
        INSERT INTO TOUR_IMG (
            IMG_SEQ, TOUR_SEQ, TOUR_DAY, PLACE_SEQ, TITLE,  CONTENTS, USER_ID, LIKE_CNT,
            REG_ID, REG_DT, CHG_ID, CHG_DT, LAT, LON, IMG_URL
        )
        VALUES (
                   COALESCE((SELECT MAX(A.IMG_SEQ) FROM TOUR_IMG A), 0) + 1, #{tourSeq}, #{tourDay}, #{placeSeq},
                   #{title}, #{contents}, #{userId}, 0, #{userId}, NOW(), #{userId}, NOW(), #{lat}, #{lon}, #{imgURL}
               )
    </insert>

    <select id="imgYn" parameterType="ImgDTO" resultType="ImgDTO">
        SELECT
            COUNT(B.PLACE_SEQ) AS EXIST_CNT
        FROM
            TOUR_PLACE A
                LEFT JOIN
            TOUR_IMG B
        ON A.TOUR_SEQ = B.TOUR_SEQ
                AND A.TOUR_DAY = B.TOUR_DAY
                AND A.PLACE_SEQ = B.PLACE_SEQ
        GROUP BY
            A.TOUR_SEQ, A.TOUR_DAY, A.PLACE_SEQ;
        ORDER BY
            A.PLACE_SEQ;
    </select>
</mapper>